body {
  background-image: url(/Images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  margin: 3vh 40px 2vh 40px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.name {
  font-size: 6vh;
  cursor: pointer;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px blue,
    0 0 82px blue, 0 0 92px blue, 0 0 102px blue, 0 0 151px blue;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  margin: 3vw;
  color: white;
}

.input-section h2,
.preview-section h2 {
  font-size: 28px;
  text-shadow: 0 0 12px #00ffff;
  color: white;
  text-align: center;
}

/* --------------- CREATE ----------------------- */
form {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

label {
  margin-bottom: -1vh;
}

input[type="text"],
input[type="number"],
select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

input[type="submit"] {
  margin-top: 1vh;
  padding: 14px;
  border-radius: 8px;
  background: #0098ff;
  border: none;
  color: white;
  cursor: pointer;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  outline: none;
  border: 1px solid #00ffff;
  box-shadow: 0 0 10px #00ffff;
}

/* hide the real file input button */
#hotel-image {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* browse button */
.custom-file-btn {
  margin-top: -1vh;
  padding: 12px 18px;
  background: rgba(0, 255, 255, 0.25);
  border: 1px solid rgba(0, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  width: 50%;
  align-self: center;
  transition: 0.3s;
  display: inline-block;
  text-align: center;
}

.custom-file-btn:hover {
  background: rgba(0, 255, 255, 0.5);
  box-shadow: 0 0 12px #00eaff;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}

@media (max-width: 768px) {
  .name {
    font-size: 5vh;
  }
}

@media (max-width: 500px) {
  .name {
    font-size: 4vh;
  }
}