body {
  background-image: url(/Images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


.header {
  margin: 20px 40px 0px 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-size: 35px;
  cursor: pointer;
}

.left-header {
  display: flex;
}

.nav-buttons {
  font-size: 15px;
  margin: 0 40px 0 40px;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text {
  font-size: 70px;
}

.name,
.nav-buttons,
.title-text {
  color: white;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px blue,
    0 0 82px blue, 0 0 92px blue, 0 0 102px blue, 0 0 151px blue;
}

/* ------------ HOTEL -------------- */

.hotel {
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.hotel-image {
  aspect-ratio: 3/2;
  width: 100%;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotel-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotel-details {
  margin-top: 1.5vh;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.hotel-details .hotel-name {
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff;
}

.hotel-details .hotel-amenities {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vh;
  overflow: hidden;

  justify-content: flex-start;
}

.hotel-details .hotel-amenities span {
  padding: 6px 12px;
  border-radius: 12px;
  background: rgba(12, 213, 248, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.15);
  font-size: calc(0.6em + 1vmin);;
  letter-spacing: 0.05vw;
  text-wrap: nowrap;
}

.hotel-details .location {
  font-size: 1.5rem;
  opacity: 0.85;
  color: #d8faff;
}

.hotel-details .hotel-price {
  font-size: 22px;
  font-weight: bold;
  margin-top: 0.2vh;
  color: #00eaff;
  text-shadow: 0 0 8px #00eaff;
}

.hotel-details .hotel-description {
  max-height: 15vh;
}

.hotel-details .hotel-description p {
  font-size: calc(0.7em + 0.6vmin);
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines (adjust as needed) */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hotel-details .button button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: rgba(0, 255, 255, 0.25);
  color: white;
  transition: 0.3s;
}

.hotel-details .button button:hover {
  background: rgba(0, 255, 255, 0.45);
  box-shadow: 0 0 12px #00eaff;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}

@media (max-width: 500px) {
  body {
    background-attachment: scroll;
  }
}
